footer{
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #C0C0C0;
    padding: 8px;
    font-size: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-qualif{
    margin: 0 auto; /* Centraliza horizontalmente */
   }

.contato{
    position: absolute;
    right: 20px; /* Alinha o contato à direita */
    color: rgb(1, 49, 17);
    text-decoration: underline;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Empilha os elementos verticalmente */
        padding: 8px;
    }

    .text-qualif, .contato {
        position: static; /* Remove o posicionamento absoluto */
        text-align: center; /* Centraliza o texto */
        margin: 1px 0; /* Adiciona espaço entre os elementos */
    }
}



