.container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 249, 249);
}

.link{
    color: #040600;
    position: absolute;
    top: 0;
    left: 15px;
    margin: 15px;
    font-style: oblique;
}

.link-icon{
    color: #040600;
    position: absolute;
    top: 0;
    left: 35px;
    margin: 5px;
    height: 35px;
    width: 30px;
}

.container-form{
    background-color:#fff;
    padding: 10px 30px;
    max-width: 800px;
    width: 100%;
}

.title-info{
    margin-bottom: 5px;
    font-size: 30px;
    color: #2a2929;
    background: rgba(241, 239, 239, 0.927);  
}

.sub-title{
    font-size: 20px;
    margin-bottom: 10px 0px;
    color: rgb(89, 88, 88);
}

.certidaoInfo, .balancoInfo, .indiceInfo, .patrimonioInfo, .complInfo, .compromissoInfo {
    font-size: 20px;
    margin: 10px 0px;
    padding-right: 10px;
}

.label-certidaoInfo, .label-balancoInfo{
    font-size: 20px;
    margin: 10px 0px;
    padding-right: 10px;
}

.anexos{
    font-size: 15px;
    margin-top: 7px;
}

.anexo{
    font-weight: 700;
}

p{
    font-size: 20px;
    margin: 10px 0px ;
    padding-right: 10px;
}

hr{
    margin: 15px 0px;
}

.container-button{
    display: flex;
    justify-content: space-between;
    width: 190px;
}

.btn-empresaInfo{
    cursor: pointer;
    padding: 10px 22px;
    border-radius: 5px;
}

.texto-vermelho {
    color: red;
  }
  
  .texto-azul {
    color: blue;
  }